<div class="row">
	<div class="col col-md-4 offset-md-4 col-12">
		<h1>Registro de Categoria</h1>
		<%= render 'form', category: @category %>
	</div>
	<div class="col col-md-4 offset-md-4 col-12 mt-4">
		<%= link_to 'Regresar a la lista', categories_path, class: "btn btn-primary" %>
	</div>
</div>
