
<div class="row">
	<div class="col col-md-8 offset-md-2 col-12">
		<h1>Registro de Productos</h1>
		<%= render 'form', product: @product %>
	</div>
	<div class="col col-md-8 offset-md-2 col-12 mt-4">
		<%= link_to 'Regresar a la lista', products_path, class: "btn btn-primary" %>
	</div>
</div>
